
<h1>All Service Listings</h1>

<table>
  <tr>
    <th>Client Name</th>
    <th>Service</th>
  </tr>
  
  <% @service_listings.each do |service_listing| %>
  <tr>
    <td><%= service_listing.clientID %></td>
    <td><%= service_listing.serviceID %></td>
  </tr>
  <% end %>
</table>