
<h1>All Service Listings</h1>

<table>
  <tr>
    <th>Client first name</th>
    <th>Client last name</th>
    <th>Service</th>
  </tr>
  
  <% @service_listings.each do |service_listing| %>
  <tr>
    <td><%= Client.find(service_listing.clientID).fname%></td>
    <td><%= Client.find(service_listing.clientID).lname%></td>
    <td><%= Service.find(service_listing.serviceID).name %></td>
  </tr>
  <% end %>
</table>