		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>This is Teender</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-car"></span>
							<h3>Need help washing your car?</h3>
						</div>

						<div>
							<span class="icon fa-leaf"></span>
							<h3>Don't want to do gardening?</h3>
						</div>

						<div>
							<span class="icon fa-child"></span>
							<h3>Need a sitter?</h3>
						</div>

					</div>

					<footer>
						<%= link_to "New user? Sign up!", new_user_path, :class => "button" %>
					</footer>
				</div>
			</section>
			