		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>This is Teender</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-clock-o"></span>
							<h3>Fast</h3>
							<p>Find a match within 24 hours</p>
						</div>

						<div>
							<span class="icon fa-leaf"></span>
							<h3>Reliable</h3>
							<p>See reviews for each match</p>
						</div>

						<div>
							<span class="icon fa-child"></span>
							<h3>Easy</h3>
							<p>   All payments are online 24/7  </p>
						</div>

					</div>

					<footer>
						<%= link_to "New user? Sign up!", new_user_path, :class => "button" %>
					</footer>
				</div>
			</section>
			