<html>
<body class="subpage">

<section id="main" class="wrapper">

				<div class="inner">
					<header class="align-center">
						<h2>Teender</h2>
						<p>The app that has people saying "Get ONTO my lawn" </p>
					</header>

					<!-- Intro -->
						<div class="row">
							<section class="6u 12u$(medium)">
								<h2>What is Teender?</h2>
								<p><strong>Teender</strong> is Canada's first Helper-to-Client chore matching service. Since 2017, Teender has helped teenagers a bit of extra income while enabling the clients to be find reliable solutions to house work.</p>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>It's free</h3>
								<p>All our services are free (you don't pay us anything!). Mutually agree on a fee with your helper and pay what you want. </p>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>It's safe</h3>
								<p>All users have detailed reviews of previous work and their performance. Get matched to whoever you feel comfortable with.</p>
							</section>
						</div>

</section>

</body>


</html>